.navbar {
    background-color: #393053;
}

.navbar-brand, .offcanvas-title, .nav-link {
    color: #E8E2E2;
    font-family: Antic;
}

.navbar-toggler {
    background-color: white;
}

.offcanvas-body {
    background-color: #443C68;
}

.bnr {
    background-color: #635985;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid {
    padding: 0px;
}

.no-padding {
    background-image: url('images/salad_1_resize.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.row {
    text-align: center;
    color: black;
    font-family: Gabriola;
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-sm {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-color: #EEF1FF;
}

.footer {
    background-color: #443C68;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    line-height: .3;
}

.btncss {
    background-color: white;
}